.urlComponent {
    display: inline-block;
    margin-right: 1rem;
    .urlLabel {
        display: inline-block;
        vertical-align: middle;
    }
    .urlLink {
        display: inline-block;
        vertical-align: middle;
        font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif; 
    }
    .icon {
        margin-right: 0.5rem;
        vertical-align: middle;
    }
}
