.clientAppComponent {
    display: flex;
    align-content: center;
    .link { font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;  }
    .icon { margin-right: 0.5rem; }
}
